## Rules to connect to the system
#SUBSYSTEMS=="input", ENV{ID_INPUT_KEYBOARD}=="usb", ENV{ID_INPUT_KEYBOARD}=="1", ACTION=="add", RUN+="/root/exo/insert_mod.sh"
#SUBSYSTEMS=="input", ENV{ID_BUS}=="usb", ENV{ID_INPUT_KEYBOARD}=="1", ACTION=="remove", RUN+="/root/exo/rm_mod.sh"

ACTION=="add", RUN+="/root/test.sh"
